
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<body id="page-top">
<div class="card" >

              <div class="search-box"> 
                <h2 class="h1 hero-title">Find Your Next Tiny Dream House</h2>
                  <div class="form-group">
                      <div class="icon-addon addon-lg">
                        <form #SearchForm ="ngForm" (ngSubmit)="onSearch(SearchForm.value)">
                          <input type="text" placeholder="Search by City, State, or Zip code" class="form-control" name="address" ngModel id="address">
                          <label for="address" class="glyphicon glyphicon-search" rel="tooltip" title="address"></label>
                          <button class="btn" type="submit">Search</button>
                        </form>
                      </div>
                  </div>
              </div>
          </div>
          <div id="child">
            <div class="container-fluid drop-shadow">
              <div class="row">
              </div>
            </div>
          </div>

      <!--About-->

      <!--services-->
      <section class="service" id="service">
        <div class="container">

          <!-- <p class="section-subtitle">Our Services</p> -->

          <!-- <h2 class="h2 section-title">Our Main Focus</h2> -->

          <ul class="service-list">

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="./assets/images/service-1.png" alt="Service icon">
                </div>

                <h3 class="h3 card-title">
                  <a routerLink="listings">Buy a home</a>
                </h3>

                <p class="card-text">
                  Finding your new tiny house shouldn't be a hassle. With our advanced search engine, we'll connect you to your dream home in no time.
                </p>

                <a routerLink="listings" class="card-link">
                  <button class="btn">Buy</button>
                </a>

              </div>
            </li>


            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="./assets/images/service-3.png" alt="Service icon">
                </div>

                <h3 class="h3 card-title">
                  <a routerLink="add-property">Sell a home</a>
                </h3>

                <p class="card-text">
                  We will help sell your home and give you the best appraisals in today's market.
                </p>

                <a routerLink="add-property" class="card-link">
                  <button class="btn">Sell</button>
                </a>

              </div>
            </li>

          </ul>

        </div>
      </section>
