<div class="form-container mat-elevation-z5">
    <h1>Welcome back user</h1>
    
<form #LoginForm="ngForm" (ngSubmit)="submit(LoginForm.value)">
    <div>
        <mat-form-field>
            <input matInput
            type="email"
            ngModel
            placeholder="Email address" 
            name="email"
            required
            />
           
        </mat-form-field>
    </div>
    <div>
      <mat-form-field>
            <input matInput type="password" 
            placeholder="Password" 
            ngModel
            name="password"
            required
           
            /> 
                
      </mat-form-field>
    </div>
    <small class="text-danger" >{{msgError}}</small>
    <div class="center margin-top">
        <button type="submit" mat-raised-button color="primary">Login</button>
    </div>

    <div class="center margin-top">
        <button (click)="handleGoogleSignin()" mat-raised-button color="white">Sign in with Google</button>
    </div>
      <span class="center margin-top">New user? Sign up below</span>
    <div class="center margin-top">
       <a routerLink="/signup"> <button mat-raised-button color ="primary">
            Signup
        </button></a>
    </div>
</form> 

  </div>
