<div class="form-container mat-elevation-z5">
    <h1>Login</h1>
<form>
    <div>
        <mat-form-field>
            <input matInput 
            placeholder="Email address" 
            formControlName="email" />
        </mat-form-field>
    </div>
    <div>
      <mat-form-field>
            <input matInput type="password" 
            placeholder="Password" 
            formControlName="password" />       
      </mat-form-field>
    </div>
    <div class="center margin-top">
        <button type="submit" mat-raised-button color="primary">Login</button>
    </div>
      <span class="center margin-top">New user? Sign up below</span>
    <div class="center margin-top">
        <button mat-raised-button color ="primary">
            Signup
        </button>
    </div>
    </form>
  </div>
