


  <!--
    - custom js link
  -->
  <script src="./assets/js/script.js"></script>

  <footer class="footer-distributed">

    <div class="footer-left">
      <h3><span> Tiny Home Paradise</span></h3>

      <h1 class="footer__logo">Find your peaceful place</h1>

      <p class="footer-links">
        <a href="#" class="link-1">Home</a>
      <a  class="footer-links" routerLink="login">Login</a>
      <a class="footer-links" routerLink="listings">Properties</a>
      <a  class="footer-links" routerLink="about">About</a>
      <a class="footer-links" routerLink="contact">Contact us</a>
				</p>

      <p class="footer-company-name">Tiny Home Paradise © 2022. All Rights Reserved</p>
    </div>

    <div class="footer-center">

      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>1 Tiny Home </span> Smallville, KS 12345</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>+1.555.555.5555</p>
      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:support@company.com">info@tinyhomeparadise.com</a></p>
      </div>

    </div>

    <div class="footer-right">

      <p class="footer-company-about">
        <span>About the company</span>
        A determined organization of talented professionals dedicated to helping you find the tiny home of your dreams.
      </p>



    </div>

  </footer>

