<div class= "main">

  <div class= "user">
    <div class= "notification ">
      <svg class="icon icon-bell ">
        <use href="./assets/icons.svg#icon-bell"></use>
      </svg>
      <span class= "notification_circle circle-active"></span>
    </div>
    <div class="user_info">
      <div class="circle-avatar">
        <img src="./assets/images/Jiro Inagaki.jpg" alt="" />
      </div>
      <div class= "user-name "> David 0.</div>
    </div>
    <div class="dropdown">
      <svg class= "icon icon-chevron-small-double-down ">
        <use href="./assets/icons.svg#icon-chevron-double-down "></use>
      </svg>
    </div>
  </div>
  <nav class = "navigation ">
    <div class= "logo">
      <h3>Site logo.</h3>
    </div>
    <ul class ="nav">
        
       <li class="nav__item" *ngFor="let menu of menuList"
      >
        <svg class="icon {{ menu.icon }}"> 
          <use attr.xlink.href="./assets/icons.svg#{{ menu.icon }}"></use>
        </svg>
        <a class="nav__link">{{menu.name}}</a>
      </li>  
    </ul>
  
  </nav>
 
  <router-outlet></router-outlet>
  <div class="property-details">
    <router-outlet name="d"></router-outlet>
  </div>
</div>
