<mat-toolbar>
  <a routerLink=""><img src="./assets/images/THP_logo4.png" alt="TinyHome Paradise"></a>
    <div class="navbar-bottom">
        <ul class="navbar-list">
          <li>
            <a class="navbar-link" routerLink=''>Home</a>
          </li>
          <li>
            <a class="navbar-link" routerLink="about">About</a>
          </li>
          <li>
            <a class="navbar-link" routerLink="listings">Search for Properties</a>
          </li>
          <li>
            <a class="navbar-link" routerLink="contact">Contact</a>
          </li>

        </ul>
      </div>

    <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton">
    <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
        Account
        <mat-icon>expand_more</mat-icon>
    </button>
    </ng-container>
    <ng-template #loginButton>
        <button mat-button routerLink="login">Sign in</button>
    </ng-template>

</mat-toolbar>
<mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="logout()">Logout</button>
    <button mat-menu-item routerLink="profile">Profile</button>
</mat-menu>
