<a class="back" (click)="goBack()" #back>
    <svg class = "icon icon-back">
    <use href="./assets/icons.svg#icon-chevron-small-left"></use>
    </svg>
    </a>
    <div class= "info_image" 
    [ngClass]="animationElement" 
    #image 
    ng-Style="(ui.getOpenState() | async) === 'closed' && {display:none}"
    >

    <img src="{{imageUrl }}" alt=" " />
    </div>
    <div class = "property_info" [ngClass]="animationElement" #info >
    <h4 class="heading-4">{{location }}</h4>
    <span class="type"> {{ house_name }}</span>
    <div class= "more ">
    <span>{{ rooms }}</span>
    <span>{{ baths }}</span>
    <span> {{ size }}sq ft</span>
    <span> {{ year }}</span>
    <span> {{ mobility }}</span>
    </div>
    <span class="price">${{ price }}</span>
    </div>
    <button class = "call " #call>Contact Seller</button>