<a class="back" #back>
    <svg class = "icon icon-back">
    <use href="./assets/icons.svg#icon-chevron-small-left"></use>
    </svg>
    </a>
    <div class= "info-image" *ngFor=" let product of property">
    <img width ="50" height="50" src="{{ product?.imageUrl }}" alt=" " />
    </div>
    <div class = "property-info" *ngFor=" let product of property">
    <h4 class="heading-4">{{ product?.location }}</h4>
    <span class="type"> {{ product?.house_name }}</span>
    <div class= "more ">
    <span>Bedrooms: {{ product.rooms }}</span>
    <br>
    <span>Bathrooms: {{ product.baths }}</span>
    <br>
    <span>Size: {{ product.size }}sq ft</span>
    <br>
    <span>Built in: {{ product.year }}</span>
    <br>
    <span>Mobile: {{ product.mobility }}</span>
    <br>
    </div>
    <span class="price">Price: ${{ product.price }}</span>
    
    <br>
    <button class = "call ">Contact Seller</button>
    <br>
    <span>Seller's Email: {{ product.email }}</span>
    <br>
    <span>Seller's Phone Number: {{ product.phone }}</span>
    <br>
</div>
