
<mat-card  class="container mt-4">
    <div class="row  search">
      <h1 class="center">Filter Results</h1>
      <span>Keyword:</span>
      <input type="text" placeholder="Keywords" [(ngModel)]="enteredKeyword" (input)="onSearchKeywordChanged()">
      
      <span>Location:</span>
      <input type="text" placeholder="City, State, or Zipcode" [(ngModel)]="enteredZipcode" (input)="onSearchZipcodeChanged()">
      <span>Price</span>
      <span>
        <input placeholder="Min" [(ngModel)]="enteredMinPrice"  (input)="onSearchMinChanged()">
        to
        <input placeholder="Max" [(ngModel)]="enteredMaxPrice" (input)="onSearchMaxChanged()">
      </span>
      <span>Square Foot</span>
      <span>
        <input placeholder="Min" [(ngModel)]="enteredMinSize"  (input)="onSearchMinSizeChanged()">
        to
        <input placeholder="Max" [(ngModel)]="enteredMaxSize" (input)="onSearchMaxSizeChanged()">
    </span>
    <span for="bedrms">Bedrooms</span>
    <select id="bedrms" [(ngModel)]="enteredBedroom" (mouseleave)="onBedChanged()">
        <option  value =0 selected>Any</option>
        <option  value =1>1</option>
        <option  value=2>2</option>
        <option  value =3>3</option>
        <option  value=4>4</option>
    </select>
    <span for="bthrms">Bathrooms</span>
    <select id="bthrms" [(ngModel)]="enteredBathroom" (mouseleave)="onBathChanged()">
        <option value=0>Any</option>
        <option  value=1>1</option>
        <option value=2>2</option>
    </select>
    <span for="mobil">Mobility</span>
    <select id="mobil" [(ngModel)]="enteredMobility" (mouseleave)="onMobilityChanged()">
        <option value=''>Any</option>
        <option  value='Yes'>Yes</option>
        <option value='No'>No</option>
    </select>
    </div>

</mat-card>

