<div class = "container-fluid">
    <div class ="main">
        <div class="col-md-4 mt-5">
          <form class="card border-0 shadow p-3" #addpropertyform="ngForm" (ngSubmit)="submit(addpropertyform.value)">
            <div class="form-floating mb-3 text-center">
              <h5 class="text-center text-warning">Add Property</h5>
            </div>
              <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="house_name" placeholder="My Home" ngModel>
                  <label for="housename">Property Title</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="location" placeholder="Austin, TX, 78745" ngModel>
                  <label for="location">Location</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="image" placeholder="insert imageUrl here" ngModel>
                  <label for="image">Image URL</label>
                  
                </div>
                <div class="form-floating mb-3">
                  <input type="number" class="form-control" name="rooms" placeholder="0" ngModel>
                  <label for="rooms">Rooms</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="number" class="form-control" name="baths" placeholder="0" ngModel>
                  <label for="baths">Baths</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="number" class="form-control" name="price" placeholder="$250,000.00" ngModel>
                  <label for="price">Price</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="number" class="form-control" name="size" placeholder="1,000 sq ft" ngModel>
                  <label for="size">Size</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="number" class="form-control" name="year" placeholder="2000" ngModel>
                  <label for="year">Year</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="string" class="form-control" name="mobility" placeholder="Yes" ngModel>
                  <label for="mobility">Mobility</label>
                </div>
                <button type="submit" class="btn btn-outline-success">Add Property</button>
                
              </form>
        </div>
        <!-- <td>
                      <button class="btn btn-outline-danger" (click)="deleteProduct(product)">Delete</button>
                    </td> -->
    </div>
</div>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

	
		