<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  </head>
<!--where the eff did all these divs come from?!?!-->
<body>
<div class = "wapper">
<div class="left">
  <img src = ""
  alt="user" width="100">

  <h4>testing</h4>
  <p>testing testing, 1, 2, 3</p>
</div>

<div class="right">
  <div class="info">
    <h3>Information</h3>
    <div class="info_data">
      <div class="data">
        <h4>Email</h4>
        <p>test@email.com</p>
      </div>

<div class="data">
  <h4>phone</h4>
  <p>1234567890</p>
            </div>
      </div>
</div>

      </div>
        </div>


        <div class = "social_media">
          <ul>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>


          </ul>
        </div>
      </body>
        </html>