
 


<!-- <div class= "search ">
    <label for= "search">
    <svg class="icon icon-search">
    <use href="./assets/icons.svg#icon-search"></use>
    </svg>
    </label>
    <input id="search" type=" text" placeholder= "Search" />
</div> -->

<div class= "listing-actions">
    <h1 class="heading-1">All Listings</h1>
    <div class= "actions">
        <span> Filter</span>
        <app-search  (searchZipcodeChanged)="onSearchZipcodeEntered($event)"
            (searchMinChanged)="onSearchMinEntered($event)"
            (searchMaxChanged)="onSearchMaxEntered($event)"
            (searchMinSizeChanged)="onSearchMinSizeEntered($event)"
            (searchMaxSizeChanged)="onSearchMaxSizeEntered($event)"
            (searchBedChanged)="onBedroomEntered($event)"
            (searchBathChanged)="onBathroomEntered($event)">
</app-search> 
 </div>
</div>
<div class="listings">
 <div class="listing element" *ngFor="let item of data">
    {{item.house_name}}
    <div class="listing element" *ngIf="zipcodeText ===''|| item.location.toLowerCase().includes(zipcodeText.toLowerCase())">
    <div *ngIf="(minText===0|| maxText===0)||(item.price>=minText && item.price<=maxText)">
    <div *ngIf="(minSizeText===0 || maxSizeText===0)||(item.size>=minSizeText && item.size<=maxSizeText)">
    <div *ngIf="(bedroomText==0)||(item.rooms==bedroomText)">
    <div *ngIf="(bathroomText==0)||(item.baths==bathroomText)">
         <div class = "listing_description ">
            <div class = "listing_heading">
                <h4 class="heading-4 ">{{ item.house_name }}</h4>
                <span class="dash ">&mdash; </span>
                <span class = "type "> {{ item.location }}</span>
            </div>
            <div class= "listing_info">
                <span> {{item.rooms }} bedrooms</span>
                <span class= "cirlce">&#11044; </span>
                <span>{{ item.baths }} bathrooms</span>
                <span class= "cirlce">&#11044; </span>
                <span> {{ item.size }}</span>
            </div>
            <div class= "listing_footer">
                <span class= "price">{{ item.price }}</span>
                <span class= "year">{{ item.year}}</span>
                
            </div>
         </div>
    </div>
    </div>
    </div>
