<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
<!-- <div class= "search ">
    <label for= "search">
    <svg class="icon icon-search">
    <use href="./assets/icons.svg#icon-search"></use>
    </svg>
    </label>
    <input id="search" type=" text" placeholder= "Search" />
</div> -->
<div class= "listing-actions">
    <h1 class="heading-1">All Listings</h1>
    <div class= "actions">
        <span> Filter</span>
 </div>
</div>
<div class="listings">
 <div class="listing element" *ngFor="let item of propertiesList ">
    <div class="listing element" *ngIf="searchText ===''|| item.location.includes(searchText)">
   <div class = "listing_description ">
    <div class = "listing_heading">
     <h4 class="heading-4 ">{{ item.house_name }}</h4>
     <span class="dash ">&mdash; </span>
     <span class = "type "> {{ item.location }}</span>
    </div>
    <div class= "listing_info">
     <span> {{item.rooms }} bedrooms</span>
    <span class= "cirlce">&#11044; </span>
        <span>{{ item.baths }} bathrooms</span>
    <span class= "cirlce">&#11044; </span>
        <span> {{ item.size }}</span>
    </div>
 <div class= "listing_footer">
    <span class= "price">{{ item.price }}</span>
    <span class= "year">{{ item.year}}</span>
    <span class= "mobile">{{ item.mobile }}</span>
   </div>
  </div>
    </div>
 </div>
</div>