<div class="container success">
    <h1>Thank you for taking the time filling out our application.</h1>
    <br>
    <div class="container button">
        <br>
        <button class="btn">
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="listings" role="tab" aria-controls="profile" aria-selected="false">Return to Listings</a>
        </li>
    </button>
    </div>
</div>

<figure class="about-banner">
    <img src= "https://www.ecohome.net/media/articles/images/b7/2e/b72efa94d5525bc043009df83636c44b1af67beb/thumbs/r_QJHuvLQhLT_1200x500_Q9YtDUVi.jpg" alt="House interior">

   <!--- <img src="./assets/images/about-banner-2.jpg" alt="House interior" class="abs-img"> -->
  </figure>
