<div class="container success">
   <div>
    <h1>Thank you for submitting your request for contact! <br> </h1>
   <h2>Please be patient to allow the seller to reach out to you, it may take 1 to 2 business days.</h2>
   <h2>Check your mailbox for a confirmation email from us.</h2>
    </div>
    
    <div class="container button">
        <br>
        <button class="btn">
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="listings" role="tab" aria-controls="profile" aria-selected="false">Return to Listings</a>
        </li>
    </button>
    </div>
</div>

<figure class="about-banner">
    <img src="https://images.unsplash.com/photo-1632252300695-97c54a0db8e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="House interior">

   <!--- <img src="./assets/images/about-banner-2.jpg" alt="House interior" class="abs-img"> -->
  </figure>



